# macOS
.DS_Store

# VS Code settings
.vscode/

# Node dependencies (if you ever add npm)
node_modules/

# Logs or temp files
*.log

# Force git language stat to JS
* linguist-detectable=true
*.css linguist-language=JavaScript 